
body{
background:black;
color: white;
}

.main-header{
	background: url(../images/PLATOLG.jpg) no-repeat center center;
	background-size: cover;
	padding: 100px 50px 400px; 
	margin-bottom: 10px; 
	font-size: 40px;
	font-family: 'Abril Fatface', cursive;
}

h1{
	text-align: center;
	font-size: 50px;
}

p{
	text-align: center;
	font-size: 20px;
	font-style: italic;
}

.btn-height {
	height:240px;
	overflow: hidden;
	margin-top: 50px;
	margin-bottom: 50px;
	z-index: 999;

}

.btn-height img{
	width: 100%;
	margin-top: 20px;
}

.btn-height a {
	color: white;
	text-align:center;
	display: block

}

.my-slider, .my-slider img {
	width: 100%;
}

.my-slider{
	position:relative;
	overflow: hidden;

}


.slick-prev{
	position:absolute;
	top:50%;
	transform: translateY(-50%);
	left:-115px;
	z-index: 999;
}

.my-slider:hover .slick-prev{
left: 15px;

}


.slick-next{
	position:absolute;
	top:50%;
	transform: translateY(-50%);
	right:-115px;
	z-index: 999;
}

.my-slider:hover .slick-next{
right: 15px;


}

.my-slider a {
	position: relative;
	color: white;

}

.my-slider a h1 {
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 30px;
	width: 100%;
	
	
}

.slick-center {
	transform: scale(1.4);
	transition: all 0.4s;
	z-index: 9999; 
}

.slick-arrow{
	background:rgba(255, 255, 255, 0.6);
	height:100px;
	width: 100px;
	border-radius: 10px;
	transition: all 0.5s;

}

.news{
	margin-top: 50px;
}

.btn{
	width: 100%;
	position: absolute;
	top: 0;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.8);
	opacity: 0;
	transition: all 0.4s;


}
 
.btn:hover{
	background-color: rgba(0,0,0,0.8);
	opacity: 1;
}

.hover-btn{
	position:relative;
	transition: all 0.4s;
	margin: 25px 0;

}

.hover-btn:hover{
	transform: scale(1.1);

}

hr{
	display:block;
	height: 1px;
	border-top: 1px solid #ccc;
	margin: 20px 0;
	padding: 0; 
}

.social{
	max-width: 60px;
}

.follow h1 {
	font-style: italic;
	text-align: left;
	font-size: 20px;
}

.details h1 {
	font-style: italic;
	text-align: center;
	font-size: 20px;

}

